=simple_form_for @assignment do |f|
 =f.collection_select :course_id, Course.all, :id, :name, {promt: "Choose a Course"}
 =f.input :course_code
 =f.input :course_name
 =f.input :semister
 =f.file_field :attachment
 =f.button :submit