%h2 Assignments
.row
 .small-7.column
 
  -@assignments.each do |assignment|
   %li=assignment.course_name
   
   =link_to assignment.course_code,assignment
   %br


 .small-5.column
  -Course.all.each do |course|
   = link_to course.name, assignments_path(course: course.name), class: 'button success radius tiny'
   |   



=link_to "New Assignment",new_assignment_path,class:'button alert radius small'