%h3
.row
 .small-9.column
  .tr
   .td=@assignment.course_code
   .td=@assignment.course_name 
   .td=@assignment.semister
   .td=link_to 'Download link',@assignment.attachment_url
   =link_to 'Edit',edit_assignment_path



 .small-3.column
  %h4 Place holder 


