

.row
 .small-7.column
  %h3 About 
  %p We are made up of Computer science, Informatics and BIT
 

 .small-5.column
  %h3 Contact as at:
  %ul 
   %li 0755889922
   %li comp@sci.com 



=link_to "Already a Student...",assignments_path